body {
  background-color: maroon;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: black;
  font-size: 85px;
  font-style: oblique;
}

h2 {
  text-align: center;
  color: black;
}

ul {
  font-size: 35px;
  text-decoration: underline;
  font-weight: bold;
  color: black;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

h3 {
  text-align: center;
  color: black;
  position: absolute;
  bottom: 0;
  left: 100px;
}

a {
  color: black;
}
